<h2><%= @user.name %></h2>

<ul>
	<li>Name: <%= @user.name %></li>
	<li>Age: <%= @user.age %></li>
	<li>Height: <%= @user.height %></li>
</ul>

<%= link_to "Restaurants", user_restaurants_path(@user.id) %>
<%= link_to "Rides", user_rides_path(@user.id) %>